/* ======= OVERLAY ======== */
.overlay{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: var(--first-color);
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spinner-icon {
    -webkit-animation: lds-dual-ring 1.4s linear infinite;
    animation: lds-dual-ring 1.4s linear infinite;
    border: 3px solid #fff;
    border-radius: 50%;
    border-right-color: transparent;
    display: block;
    height: 35px;
    position: relative;
    width: 35px
}
@-webkit-keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(1turn)
    }
}

.overlay__logo{
    opacity: 0;
}