node_modules/
_components/
.cache
.browserlistrc
.htmlnanorc.js


src/
dist/


package.json
package-lock.json
postcss.config.js

.htaccess
robots.txt
sitemap.xml

critical.js
script.js
sw.js
manifest.json