<article class="beneficiario col-md-6">
    <div class="card__container">
        <div class="card demo-card">
            <div class="card-image">
                <span class="demo-card-image bg1 lazy-background"></span>
                <a href="https://cuppriccio.kalp.app" class="btn-view btn-primary" target="_blank" rel="noopener noreferrer"><span>Ir a la web</span></a>
            </div>
            <div class="demo-text">
                <h4>Cuppriccio</h4>
                <p>Cuppriccio ofrece diferentes tipos de postres y pasteles para disfrutar en cualquier momento.</p>
            </div>
        </div>
    </div>
</article>